.card {
    width: 300px;
    height: 400px;
    border: 2px solid black;
}
.card p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
}